version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: cookbookdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
